:root {
    --maingreen: #324B4D;
    --white: #FFFFFF;
    --secondGreen: #94B0B3;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--white);
}

.title {
    text-align: center;
    font-size: 5rem;
    color: var(--maingreen);
    font-weight: 300;
    text-shadow: 1px 1px 2px var(--maingreen);
    position: relative;
    padding-bottom: 1.5rem;
}

.title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    border: 1px solid var(--maingreen);
    box-sizing: border-box;
}

.container,
.container .workoutType,
.container .workout .workoutCols {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.container,
.container input,
.container select {
    font-size: 1.2rem;
    color: var(--maingreen);
}

.container {
    box-sizing: border-box;
    margin: 7rem auto;
    width: 90vw;
    border: 4px solid #324B4D;
    gap: 1rem;
}

.container input,
.container select {
    border-radius: 25px;
    border: 1px solid var(--maingreen);
    text-align: center;
}

.container .workoutType {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .workout {
    width: 65%;
}

.container .workout .workoutCols,
.container .workout .workoutCols .col {
    width: 100%;
}

.container .workout .workoutCols .col {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.container .workout .workoutCols .col .name {
    width: 40%;
}

.container .workout .workoutCols .col .series,
.container .workout .workoutCols .col .reps,
.container .workout .workoutCols .col .weight {
    width: 15%;
}